footer {
    background: var(--background);
    padding: 5rem 1rem;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
}

footer .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    align-items: center;
}

footer .container .col {
    display: flex;
    flex-direction: column;
}

footer .bar {
    width: 30px;
    border-bottom: 4px solid var(--primary);
    margin: 1rem 0;
}

@media screen and (max-width:740px) {
    footer .container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 25px;
    }

    footer .container .col-1 {
        display: none;
    }
}